<!DOCTYPE html>
<html>
  <head>
    <title>HTML 5 Slot Machine</title>
    <link
      rel="stylesheet"
      href="/css/main.css"
    />
  </head>
  <body>
    <div id="slot">
      <div id="reels">
        <div class="reel"></div>
        <div class="reel"></div>
        <div class="reel"></div>
      </div>
      <div id="controls">
        <button type="button" id="spin">SPIN</button>
        <label>
          <input type="checkbox" name="autoplay" id="autoplay" />Autoplay
        </label>
      </div>
      <script type="module" src="/js/index.js"></script>
    </div>
  </body>
</html>
