<!DOCTYPE html>
<html>
<head>
  <title>Game</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<div id="slot">
  <div id="reels">
    <div class="reel"></div>
    <div class="reel"></div>
    <div class="reel"></div>
  </div>
  <div id="controls">
    <button type="button" id="spin">SPIN</button>
    <label>
      <input type="checkbox" name="autoplay" id="autoplay" />Autoplay
    </label>
    <div id="balance">Balance:</div>
    <div class="controls-group">
      <button type="button" id="decreaseBet">-</button>
      <span>Bet: <span id="betValue">5</span></span>
      <button type="button" id="increaseBet">+</button>
    </div>
    <div class="controls-group">
      <button type="button" id="decreaseLines">-</button>
      <span>Lines: <span id="linesValue">1</span></span>
      <button type="button" id="increaseLines">+</button>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/sockjs/latest/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script type="module" src="/js/index.js"></script>
  <script src="/js/linesBetScript.js"></script>
  <script src="/js/wallet.js"></script>
</div>
</body>
</html>
